
html, body, #app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS";
}

div, ul {
  margin: 0;
  padding: 0;
}

.stretch {
  width: 100%;
  height: 100%;
}

.no-pokemon {
  background-color: #ED5565;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.h1 {
  margin: 0;
  color: white;
}

.pokemon {
  padding: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  padding: 2px 1px 2px 1px;
}

.individualMeme{
  padding: 50px 25px 50px 25px;
}

.list {
  text-align: center;
  list-style: none;
  background-color: 	 #000000;
  color: white;
}